extends layout

block content
  div(id="main")
    h1(id="my-name") McKenzie Hafkemeyer
  div(class="top-nav")
    a(href="javascript:scrollToContent('about-container')") About
    a(href="javascript:scrollToContent('exp-container')") Experience
    a(href="javascript:scrollToContent('edu-container')") Education
    a(href="javascript:scrollToContent('contact-container')") Contact
  div(class="content-container", id="about-container")
    p "This is where I will write info about me"
  div(class="content-container", id="exp-container")
    p "This is where I will write info about my experience"
  div(class="content-container", id="edu-container")
    p "This is where I will write info about my education"
  div(class="content-container", id="contact-container")
    p "This is how you will contact me"

